body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  max-width: 100vw;
  margin: 0px;
}

.pointer {
  cursor: pointer;
}

p {
  margin: 0 !important;
}

/* 全局滚动条样式 */
::-webkit-scrollbar {
  width: 4px; /* 设置滚动条的宽度 */
}

/* 设置横向滚动条的样式 */
::-webkit-scrollbar:horizontal {
  height: 4px !important;
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* 设置滑块的背景颜色 */
  border-radius: 5px; /* 设置滑块的圆角 */
}
