:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  /* --vp-custom-block-tip-text: #333; */
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: var(--track-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

/* page 通用commbox */
.stcommbox {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 64px);
  position: relative;
}

/* page 通用footer */
.stfooter {
  position: absolute;
  bottom: 0px;
  z-index: 11;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

/* 自定义font */
@font-face {
  font-family: "catbite";
  src: url("../../../public/font/猫啃什锦黑.ttf");
}

@font-face {
  font-family: "liuhuan";
  src: url("../../../public/font/刘欢卡通手书1.07.ttf");
}

/* */
p,
span,
h1,
h2,
h3,
h4,
h5,
div {
  font-family: "catbite";
}

/**/
#app {
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: infinite;
}

/* blogs card背景色和边框色 */
:root {
  --blogcard-border-color: rgba(255, 255, 255, 0.5);
  --blogcard-boxshdadow-color: rgba(0, 0, 0, 0.6);
  --track-bg-color: #fff;
}

.dark {
  --blogcard-border-color: rgba(1, 1, 1, 0.5);
  --blogcard-boxshdadow-color: rgba(255, 255, 255, 0.6);
  --track-bg-color: #000;
}

/* friends 彩色背景 */
:root {
  --bg-base: #aa8ef5;
  --bg-rainbow-c1: rgba(25, 202, 173, 0.8);
  --bg-rainbow-c1d: rgba(25, 202, 173, 0);

  --bg-rainbow-c2: rgb(140, 199, 181);
  --bg-rainbow-c2d: rgba(140, 199, 181, 0);

  --bg-rainbow-c3: rgba(160, 238, 225, 1);
  --bg-rainbow-c3d: rgba(160, 238, 225, 0);

  --bg-rainbow-c4: rgba(190, 231, 233, 1);
  --bg-rainbow-c4d: rgba(190, 231, 233, 0);

  --bg-rainbow-c5: rgba(190, 237, 233, 1);
  --bg-rainbow-c5d: rgba(190, 237, 233, 0);
}

.dark {
  --bg-base: #e493d0;
  --bg-rainbow-c1: rgba(214, 213, 183, 0.8);
  --bg-rainbow-c1d: rgba(214, 213, 183, 0);

  --bg-rainbow-c2: rgb(209, 186, 116);
  --bg-rainbow-c2d: rgba(209, 186, 116, 0);

  --bg-rainbow-c3: rgba(230, 206, 172, 1);
  --bg-rainbow-c3d: rgba(230, 206, 172, 0);

  --bg-rainbow-c4: rgba(236, 173, 158, 1);
  --bg-rainbow-c4d: rgba(236, 173, 158, 0);

  --bg-rainbow-c5: rgba(244, 96, 108, 1);
  --bg-rainbow-c5d: rgba(244, 96, 108, 0);
}

/* fr card样式 */
:root {
  --bg-frdrawer: rgba(255, 255, 255, 0.3);
  --fc-frdrawer: #000;
}

.dark {
  --bg-frdrawer: rgba(0, 0, 0, 0.2);
  --fc-frdrawer: #fff;
}

.frdrawer {
  background: var(--bg-frdrawer) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.ant-drawer-title {
  flex: 1;
  margin: 0;
  color: var(--fc-frdrawer) !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.anticon-close {
  svg {
    color: var(--fc-frdrawer) !important;
  }
}

.ant-drawer-header {
  padding: 21px 24px !important;
}

/* 头部导航处理（避免friends页面颜色太突兀） */
.VPNav {
  /* z-index: 1000 !important; */
}
.VPNavBar {
  background: transparent !important;
  backdrop-filter: blur(15px);
}
.VPLocalNav {
  /* position: relative; */
  height: 64px !important;
  /* z-index: 1000 !important; */
}

/* 头部导航处理-分界线颜色透明处理 */
.divider {
  background: transparent !important;
}

.divider-line {
  background: transparent !important;
}
